body {
    margin: 0;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background:#ffffff ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
 .left-login > h1{
    color: rgb(98, 51, 63);
    
    
 }

 .right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background:#fdeff4 ;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #ebc7d4a7;
 }
 
 .card-login > h1{
    color: rgb(98, 51, 63);
    font-weight: 800;
    margin: 0;

 }

 .textfield{
   width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
 }

 .textfield > input{
   width: 100%;
   border: none;
   border-radius: 10px;
   padding: 15px;
   background:#febdd3 ;
   color: rgb(112, 62, 75);
   font-size: 12pt;
   box-shadow: 0px 10px 40px #ebc7d4a7;
   outline: none;
box-sizing: border-box;
 }

 .textfield > label{
   color:rgb(112, 62, 75);
   margin-bottom: 10px;
 }

.textfield > input::placeholder{
   color:rgb(112, 62, 75) ;
}

.bin-login{
   width: 100%;
   padding: 18px 0px;
   margin: 25px 0px 0px 0px;
   border: none;
   border-radius: 8px;
   outline: none;
   text-transform: uppercase;
   font-weight: 800;
   letter-spacing: 3px;
   color: rgb(112, 62, 75);
   background: #FFF0F5;
   cursor: pointer;
   box-shadow: 0px 10px 40px -12px rgb(112, 62, 75);

}

